{% load static %}

<header class="blogheader">
    <div class="blogheaderOverlay">
        <img src=" {% static 'images/img5.jpg' %}" alt="bg image" class="blogheaderImage">
    </div>

    <nav class="blogmainNav">
      <div class="blogmainNavContainer1">
        <h1>SchoolAfrik Blog</h1>
      </div>
      <div class="blogmainNavContainer2">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'admin' %}">Admin</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">Blog</a></li>
        </ul>
      </div>
     
        
      </nav>
      <!-- <div class="headerMainTitle">
        <h1>GATEWAY to Knowledge</h1>
      </div> -->
      <div class="blogheaderSubTitle">
        <h1 class="blogheaderSubTitle1">“Thoughts That Spark Growth”</h1>
        <p class="blogheaderSubTitle2"> Exploring ideas, tech, and stories that matter. </p>
      </div>
      <div class="blogheaderBtn">
        <a href="">share your story</a>
      </div>
      
      
</header>